	* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

   //Colors
  $color-background: #0D0D0D;
  $color-primary: white;
  $color-secundary: #28E98C;
  $color-third: #191919;
  $color-hr:#979797;
  $font-primary: Poppins-Regular;
  $font-secundary: Poppins-Medium;
  $font-third: Sora;
  $font-important: Poppins-Bold;
  

  //Fonts

  @font-face {
    font-family: Sora;
    src: url(./fonts/Sora-VariableFont_wght.ttf);
    font-display: swap;
  }

  @font-face {
    font-family: Poppins-Regular;
    src: url(./fonts/Poppins-Regular.ttf);
    font-display: swap;
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url(./fonts/Poppins-Medium.ttf);
    font-display: swap;
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf);
    font-display: swap;
  }

  body {
   background: $color-background;
   color: white;
   -webkit-font-smoothing: antialiased;
  }
  
  body, input, button {
   font-size: 14px;
   font-family: $font-primary;
  }
  
  button {
   cursor: pointer;
  }

// Base Styles

.main__hr{
  border: 0.5px solid $color-hr;
  margin: 10% 0px;
}

.main__pills{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__pill{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0.5px solid $color-hr;
  width: fit-content;
  padding: 0px 10px;
}

.main__img{
  width: 18px;
}

.main__tit{
  font-family: $font-primary;
  font-size: 1rem;
  padding: 10px;
}

.main__h2{
  font-family: $font-primary;
  font-size: 1.7rem;
  color: white;
  text-align: center;
  margin: 50px 0px;
}

.main__span{
  color: $color-secundary;
}

@mixin hover-effect {
  position: relative;
  display: flex;
  transform: scale(1, 1) translateZ(0px);
  transition-duration: 300ms;
  transition-property: transform;
  transition-timing-function: ease-out;
  will-change: transform; // Optimiza la animación
  -webkit-font-smoothing: subpixel-antialiased;

  &:hover {
    transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
    transition-duration: 300ms;
    transition-property: transform;
    transition-timing-function: ease-out;
  }
}

@media (max-width:480px){
  .main__details--about{
    display: flex;
    justify-content: center;
  }
}

