<section class="about" id="about">
	<div class="container">
		<div class="row">
			<div class="col s12 m6">
				<div class="about__portrait">
					<img
						class="about__img"
						src="images/RubenTerre.avif"
						alt="Imagen de Rubén Terré"
						width="100%"
					/>
				</div>
			</div>
			<div class="col s12 m6">
				<div class="about__details">
					<div class="main__details--about">
						<div class="main__pill">
							<img class="main__img" src="icons/sections/about_icon.svg" alt="Icono del apartado sobre mí" />
							<p class="main__tit">Sobre mí</p>
						</div>
					</div>
					<h3 class="about__h3">
						Soy un <span class="about__span">desarrollador web</span>,
						<span class="about__span">diseñador gráfico</span>
						e <span class="about__span">docente</span> apasionado, con un gran ojo para los detalles
						y una pasión por crear sitios web visualmente impactantes y altamente funcionales.
					</h3>
					<div class="about__mail">
						<div class="about__icon">
							<img src="icons/profile.avif" alt="Nombre y apellidos" class="about__iconmail" />
						</div>

						<div class="about__textmail">
							<p class="about__label">Nombre y apellidos</p>
							<p class="about__email">Rubén Arturo Terré Lameiro</p>
						</div>
					</div>
					<div class="about__mail ">
						<div class="about__icon">
							<img
								src="icons/location.avif"
								alt="Localización"
								class="about__iconmail--location"
							/>
						</div>

						<div class="about__textmail">
							<p class="about__label">Localización</p>
							<p class="about__email">Santiago de Compostela</p>
						</div>
					</div>

					<div class="about__mail">
						<a href="emailto:info@rubenterre.com">
							<div class="about__icon">
								<img src="icons/email_icon.svg" alt="Correo electrónico" class="about__iconmail" />
							</div>
						</a>
						<div class="about__textmail">
							<p class="about__label">Email</p>
							<a href="emailto:info@rubenterre.com" class="about__email">
								info[arroba]rubenterre.com
							</a>
						</div>
					</div>
					<a href="Ruben_Arturo_Terre_Lameiro_CV2024.pdf" download class="about__button">
						<img
							class="about__imgcv"
							src="/icons/download.svg"
							alt="Icono de descargar currículum vitae"
						/>
						<p class="about__download">DESCARGAR CV</p>
					</a>
				</div>
			</div>
		</div>
		<hr class="main__hr" />
	</div>
</section>


<style lang="scss">
@import "../styles/global.scss";
 

// About

.about__h3{
  font-family: $font-primary;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.about__span{
  color: $color-secundary;
}

.about__mail{
  display: flex;
  border-left: 3px solid $color-secundary;
  padding-left: 10px;
  margin: 20px 0px;
}


.about__icon{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__textmail{
  padding: 0px 10px;
}

.about__label{
  font-family: $font-primary;
  font-size: 1rem;
  color: $color-hr;
}

.about__email{
  font-family: $font-primary;
  font-size: 1rem;
  color: white;
  margin: 10px 0px;
}

.about__button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $color-third;
  padding: 10px;
  border: 1px solid $color-hr;
  border-radius: 8px;
  margin: 40px 0px;
}

.about__button:hover{
  border: 1px solid white;
}

.about__imgcv{
  width: 14px;
}

.about__download{
  padding-left: 10px;
  font-family: $font-primary;
  font-size: 1.2rem;
}
</style>