---
import { getCollection } from "astro:content";

const developer = (await getCollection("developer"))
  .sort((a, b) => Number(a.id) - Number(b.id))
  .map((entry) => entry.data);
---

{
  developer.map((item) => (
    <div class="skills__card">
      <img
        class="skills__skillicon"
        src={item.icon}
        alt={`Icono de ${item.name}`}
        width="54"
        height="54"
        loading="lazy"
        decoding="async"
      />
      <p class="skills__name">{item.name}</p>
      <div class="skills__line" />
    </div>
  ))
}
